# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Flutter / Dart
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/build/
app/.idea/
app/*.iml
app/android/.gradle/
app/android/local.properties
app/android/key.properties
app/ios/.symlinks/
app/ios/Pods/
app/ios/Flutter/Flutter.framework
app/ios/Flutter/Flutter.podspec
app/pubspec.lock

# Secrets — NIKDY nenahrávať
*.p8
*.p12
*.mobileprovision
app/android/app/google-services.json

# OS
.DS_Store
Thumbs.db
